#robo-container {
  /* height: 80vh;
  width: 80vw; */
  background: purple url("./assets/circuit-pattern.png") repeat;
}

nav {
  background-image: "./assets/";
}

.card {
  background: aqua url("./assets/card-pattern.png") repeat;
  /* border-radius: 50%; */
}

img {
  border-radius: 50%;
}
