<div class="postContainer"></div>

<!-- posts.ejs : contains a div, where the posts are displayed. Each posts is composed of:

a link that redirects the user to the specific post in the website https://www.thefactsite.com/
the publication date, creator, category and content of the post -->
