body {
  font-family: "Oleo Script Swash Caps", cursive;
}

.App {
  text-align: center;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

h1 {
  font-size: 40px;
}

.links > a {
  margin: 10px;
  display: inline-block;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 20px;
  text-decoration: none;
  background: rgb(16, 16, 65);
  color: white;
}

input {
  margin-bottom: 30px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 15px;
}

.searchButton {
  margin-left: 10px;
  height: 36px;
  width: 80px;
  border-radius: 10px;
  font-size: 15px;
}

.searchButton:hover {
  cursor: pointer;
}

button {
  margin-left: 10px;
  height: 25px;
  width: 50px;
  border-radius: 8px;
  font-size: 20px;
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  margin: 15px;
  height: 180px;
  width: 225px;
  transition: ease-in-out 0.5s;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(104, 103, 103, 0.4);
}

img:hover {
  transform: scale(1.1);
}
