* {
  box-sizing: border-box;
}

.container {
  display: flex;
}
.palette-grid {
  float: left;
  width: 20%;
  height: 98vh;
  display: grid;
  padding: 3px;
  gap: 6px 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  background-color: #a9a9a9;
  border: solid 3px #a9a9a9;
}

.canvas-grid {
  display: grid;
  height: 98vh;
  padding: 5px;
  gap: 1px 1px;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.palette-item {
  border: solid 1px black;
  width: 100px;
}

.canvas-item {
  background-color: white;
  width: 25px;
  border: solid 1px black;
  box-sizing: border-box;
}

button {
  grid-column: 1/4;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(227, 222, 197);
  color: white;
}
